extends baseEmail

block content
    p Hi #{firstName},
        p Forgot your password? Submit a PATCH request with your new password and passwordCOnfirm to: #{url}.
        p (Website for this action not yet implemented)
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Reset your Password
        p If you didn't forget your password, please ignore this email.
        p - Me, CEO