doctype html
html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            title Natours | #{title}
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,700' rel='stylesheet')

    body
        // Header
        include _header

        // Content
        block content 
            h1 Block Content placeholder


        // Footer
        include _footer

    script(src='https://js.stripe.com/v3/')
    script(src='/js/bundle.js') 
